.Drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 40px 10px;
  box-sizing: border-box;
  background: #fff;
  transform: translateX(0px);
  transition: transform .22s ease-in;
  z-index: 90;

  &.close {
    transform: translateX(-300px);;
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & ul li {
    margin-bottom: 15px;
  }

  & ul li a {
    font-size: 27px;
    text-decoration: none;
    color: #3e3e3e;
    border-radius: 5px;
    position: relative;
    padding: 5px 20px 5px 20px;
    transition: opacity .3s;

    &:hover {
      opacity: .6;
    }
  }

}