.Answeritem {
  background: #eaeaea;
  border-radius: 3px;
  padding: 7px 10px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
    background: rgb(218, 218, 218);
    transition: background .2s ease-in-out;
  }
  &.success {
    background: #6bef64;
    color: #313131;
  }
  &.error {
    background: #ff7373;
    color: white;
  }
}