.ActiveQuiz {
  padding: 10px 20px 10px 20px;
  //border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px;
  box-sizing: border-box;
  color: black;
  background: white;
}

.Question {
display: flex;
justify-content: space-between;
}